*{
    box-sizing:border-box;
}
img{
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
}
header{
    min-width: 450px;
    max-width: 1200px;
    background-image: url(images/pathbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    padding: 40px;
    
}
#banner{
    margin: 20px;
    height: 350px;
    border-radius: 20px;
    animation-name: bgcolorchange;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes bgcolorchange {
    0%   {background-color:#8f894c;}
    25%  {background-color:#55868C;}
    50%  {background-color:#DD7230;}
    75%  {background-color:#3A4962;}
    100% {background-color:#968875;}
}
h1{
    font-size: 4em;
    margin: 5px;
    padding-left: 20px;
    padding-top: 20px;
}
h2{
    font-weight: lighter;
    font-size: 1.3em;
    padding-left: 20px;
}
h3{
    font-size: 3em;
    letter-spacing: .05em;
    display: grid;
    justify-content: center;

}
.eye{
    position: absolute;
}
.pic{
    position: relative;
    left: 110px;
    bottom: 140px;
    animation: pulse 2s ease-in-out infinite alternate;
}


@keyframes pulse {
  from { transform: scale(1); }
  to { transform: scale(1.17); }
}
body{
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-width: 450px;
    max-width: 1200px;
    margin: auto;
    background-color: #8b879d;  
}
section{
    min-width: 450px;
    max-width: 1200px;
    background-image: url(images/backgraound.jpg);
     background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

/* main body of the page */

ul{
    padding: 0;
}
li{
    list-style-type: none;
    font-size: 1em;
    line-height: 2em;
    margin: 20px auto;
    display: grid;
    justify-content: center;
}
article a{
    text-decoration: none;
    color: black;
    background-color: #FFF3EB;
    border-radius: 10px;
    padding: 8px;
    transition: all 1s ease;
}
article a:hover{
    background-color: #968875;
    color:#FFF3EB;
    
}

.b1{
    position: absolute;
    z-index: -1;
}
.b2{
    position: absolute;
    z-index: -1;
}
.b3{
    position: absolute;
    z-index: -1;
}
.b4{
    position: absolute;
    z-index: -1;
}
.patch1{
    width: 100%;
    position: relative;
    top: 2px;
    z-index: -1;
}
.patch2{
    width: 100%;
    position: relative;
    right: 2px;
    top: 450px;
    z-index: -1;
}
.patch3{
    width: 100%;
    position: relative;
    right: 2px;
    top: 920px;
    z-index: -1; 
}
.patch4{
    padding: 20px;
    width: 100%;
    position: relative;
    right: 2px;
    top: 1530px;
    z-index: -1; 
}
.sec1{
    max-width: 400px;
    margin: 20px auto;
    border-radius: 20px;
    padding:20px;
    position: absolute;
}
.sec1 h3{
    position: relative;
    left: 60px;
    bottom: 15px;
    color: #FFF3EB;
}
.sec1 a{
    position: relative;
    left: 200px;
    bottom: 5px;
}
.sec2{
    max-width: 400px;
    margin: 20px auto;
    border-radius: 20px;
    padding:20px;
    position: absolute;
}
.sec2 h3{
    position: relative;
    left: 10px;
    top: 450px;
    color: #FFF3EB;
}
.sec2 a{
    position: relative;
    left: 230px;
    top: 350px;
}
.sec3{
    max-width: 400px;
    margin: 20px auto;
    border-radius: 20px;
    padding:20px;
    position: absolute;
}
.sec3 h3{
    position: relative;
    left: 80px;
    top: 890px;
    color: #FFF3EB;
}
.sec3 a{
    position: relative;
    left: 85px;
    top: 955px;
}
.sec4{
    max-width: 400px;
    margin: 20px auto;
    border-radius: 20px;
    padding:20px;
    position: absolute;
}
.sec4 h3{
    position: relative;
    left: 30px;
    top: 1570px;
    color: #FFF3EB;
}
.sec4 a{
    position: relative;
    left: 230px;
    top: 1470px;
}

/* footer */
footer a{
    
    color: #FFF3EB;
    text-decoration: none;
    display: grid;
    justify-content: center;
}
.foot{
    position: absolute;
    min-width: 495px;
    max-width: 1200px;
    
}
footer{
    animation-name: bgcolorchange;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    max-width: 1200px;
    padding: 5px 20px 20px 20px;
    border-radius: 20px;
    color: #FFF3EB;
    display: grid;
    justify-content: center;
    position: relative;
    left: 2px;
    top: 1950px;
}
@keyframes bgcolorchange {
    0%   {background-color:#8f894c;}
    25%  {background-color:#55868C;}
    50%  {background-color:#DD7230;}
    75%  {background-color:#3A4962;}
    100% {background-color:#968875;}
}
@media only screen and (min-width: 600px) {
    #banner{
    min-width: 450px;
    max-width: 1100px;
    margin: auto;
    height: 250px;
    padding: 20px;

    }
    main{
        max-width: 1100px;
        margin: auto;
    
    }
    .sub{
        display: flex;
        max-height: 40px;
    }
    .eye{
        position: absolute;
    }
    .pic{
        width:30%;
        position: relative;
        left: 300px;
        bottom: 170px;
        animation: pulse 2s ease-in-out infinite alternate;
    }
    .patch1{
        width: 100%;
        position: relative;
        left:20px;
        top: 2px;
        z-index: -1;
    }
    .patch2{
        width: 100%;
        position: relative;
        left: 580px;
        top: -20px;
        z-index: -1;
    }
    .patch3{
        width: 100%;
        position: relative;
        right: 2px;
        top: 450px;
        z-index: -1; 
    }
    .patch4{
        padding: 20px;
        width: 90%;
        position: relative;
        left: 510px;
        top: 450px;
        z-index: -1; 
    }
    .sec1{
        max-width: 400px;
        margin: 20px auto;
        border-radius: 20px;
        padding:20px;
        position: absolute;
    }
    .sec1 h3{
        position: relative;
        left: 80px;
        bottom: 15px;
        color: #FFF3EB;
    }
    .sec1 a{
        position: relative;
        left: 220px;
        bottom: 5px;
    }
    .sec2{
        max-width: 400px;
        margin: 20px auto;
        border-radius: 20px;
        padding:20px;
        position: absolute;
    }
    .sec2 h3{
        position: relative;
        left: 590px;
        top: -15px;
        color: #FFF3EB;
    }
    .sec2 a{
        position: relative;
        left: 800px;
        top: -125px;
    }
    .sec3{
        max-width: 400px;
        margin: 20px auto;
        border-radius: 20px;
        padding:20px;
        position: absolute;
    }
    .sec3 h3{
        position: relative;
        left: 80px;
        top: 420px;
        color: #FFF3EB;
    }
    .sec3 a{
        position: relative;
        left: 85px;
        top: 480px;
    }
    .sec4{
        max-width: 400px;
        margin: 20px auto;
        border-radius: 20px;
        padding:20px;
        position: absolute;
    }
    .sec4 h3{
        position: relative;
        left: 620px;
        top: 525px;
        color: #FFF3EB;
    }
    .sec4 a{
        position: relative;
        left: 810px;
        top: 430px;
    }
    .foot{
        position: absolute;
        min-width: 1100px;
        margin: auto;
    
    }
    footer{
        max-width: 1200px;
        padding: 5px 20px 20px 20px;
        border-radius: 20px;
        color: #FFF3EB;
        position: relative;
        left:60px;
        top: 1050px;
    }
}

